.textArea {
   background-color: white;
   border-radius: 5px;
   color: blue;
   height: 87px;
   resize: none;
   text-align: center;
   width: 320px;
}

.nameInput {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    resize: none;
    text-align: center;
    width: 320px;
}

.labelMargin {
    margin-left: 5px;
}

.title {
    color: rgb(13, 2, 44);
    margin-left: 50px;
}