.contenedor{
    /* background: linear-gradient(110deg, rgb(25, 0, 255) 60%, #3328ca 60%); */
    background: linear-gradient(110deg, rgb(4, 0, 39) 60%, #1c185e 60%);
    /* border: rgb(23, 197, 188) solid 4px; */
    position: fixed;
    color: white;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 80%;
    height: 70%;
}